.post-img img
{
    width: 100%;

}
.post-img{
    height: 404px;
    overflow: hidden;
    /* margin-top: 24px; */
}
.blog-post-content{
    /* background-color: rebeccapurple; */
}
.blog-post-content h1{
    text-align: center;
}
.blog-post-content p{
    font-size: 18px;
}
.row{
    display: flex;
    /* flex-direction: column; */
}
.morepost{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.blogpost-meta{
    display: flex;
    /* background-color: red; */
    justify-content: space-between;
}
.author-info div{
    padding: 4px 0px;
    font-family: var(--font2);
}
.author-info{
    margin: 12px 0;;
}