/* .content {
    height: 365px;
    /* background-color: rgb(195, 195, 216); */
    /* display: flex;
    margin-top: 32px;
    padding:9px;
     */
    /* position: relative; */
  /* }  */
.contact-content{
  height: 365px;
  height: 80vh;
  /* background-color: rgb(195, 195, 216); */
  display: block;
  margin-top: 32px;
  padding:9px;
  position: relative;
  overflow: hidden;
}
.contact-content::after{
  content: "";
  background-image: url('../img/461_generated.jpg');
  position: absolute;
  top: 0;
  width: 100%;
  height: inherit;
  opacity: 0.15;
  border-radius: 12px;
  z-index: -1;

}
.contact-form{
 
}