
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital@1&display=swap');

:root{
    --main-bg-color:brown;
    --font1:'Baloo 2', cursive;
    --font2:'Bitter', serif;
}
.font1{
    font-family: var(--font1);
}
.font2{
    font-family: var(--font2);
}
.max-width-1{
    max-width: 80vw;
}
.max-width-2{
    max-width: 60vw;
}
.m-auto{
    margin: auto;
}
.my-2{
    margin-top: 32px;
    margin-bottom: 32px;
}
.btn{
    padding: 0px 20px;
    padding-top: 3px;
    border: 2px solid black;
    border-radius: 6px;
    font-family: var(--font1);
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.btn:hover{
    color: white;
    background: var(--main-bg-color);
}
.form-input
{
    padding: 0px 5px;
    padding-top: 3px;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 4px;
    margin: 0 13px;
    font-family: var(--font1);
}
.form-box input,textarea{
    width: 52vw;
    padding: 0px 6px;
    margin: 7px 0;
    font-size: 18px;
    font-family: var(--font1);
    border: 2px solid orange;
    border-radius: 5px;
}
.mx-1{
    margin-left: 23px;
    margin-right: 23px;
}
.center{
    text-align: center;
}